/* styles.css */
.tetris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#game-board {
    background-color: #3414e92c;
    border: 2px solid #000000;
}
